.gitmodules

/config.php
/cache/
/lib/
/uploads/
/storage/log
/storage/session
/log

.phpunit.result.cache

desktop.ini
docker-compose.override.yml
.env
.codeql

# IDE Fluff
.settings
.buildpath
.project
.metadata
.phpintel
nbproject/
.vscode/
.vs/

# Composer
/composer/
/vendor/
composer.json
composer.lock
system
/test/Codeception
/test/Services/chromedriver

codeception.yml

test/Services/chromedriver
test/Codeception/tests/acceptance.suite.dist.yml


# Playwright Files
test/playwright/node_modules/
test/playwright/test-results/
test/playwright/src/
test/playwright/*.png
