.gitmodules

/config.php
/cache/
/lib/
/uploads/
/storage/log
/storage/session
/log

desktop.ini
docker-compose.override.yml
.env 

.build/environment/*/stage/*
.build/environment/*/Dockerfile
!.build/environment/default/Dockerfile
!.build/environment/default/stage/*

# IDE Fluff
.settings
.buildpath
.project
.metadata
.phpintel
nbproject/
.vscode/
.vs/

# Composer
/composer/
/vendor/
composer.json
composer.lock
system
/test/Codeception
/test/Services/chromedriver

codeception.yml

test/Services/chromedriver
test/Codeception/tests/acceptance.suite.dist.yml

# Build files
__pycache__/
venv/

.build/environment/dev/stage/
.build/environment/dev/Dockerfile

.build/environment/prod/stage/
.build/environment/prod/Dockerfile

# Node Files
test/playwright/node_modules/