/config.php
/cache/
/lib/
/uploads/
/storage/log
/storage/session
/log

desktop.ini

# IDE Fluff
.settings
.buildpath
.project
.metadata
.phpintel
nbproject/
.vscode/
.vs/

# Composer
/composer/
/vendor/
composer.json
composer.lock
system
/test/Codeception

codeception.yml

test/Services/chromedriver
