<IfModule mod_headers.c>
   RequestHeader unset Proxy
</IfModule>

Options -Indexes +FollowSymLinks

# Deny direct access to files with the follow extensions
<Files ~ "\.(json|lock|phar|example|xml|md|config|log|sql|help|conf|txt)$">
    Order allow,deny
    Require all denied
</Files>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
    Order allow,deny
    Require all denied
</FilesMatch>

# Turn on the RewriteEngine
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(jpg|png|ico|jpeg|gif|css|js)$
RewriteRule ^(.*)$ /index.php [NC,L,QSA]