services:
  mysqldb:
    image: mysql:8
    container_name: mysql-8
    hostname: mysql-8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: cmfive
      MYSQL_PASSWORD: cmfive
      MYSQL_DATABASE: cmfive
      TZ: Australia/Sydney
    volumes:
      - dbdata:/var/lib/mysql:delegated
    networks:
      - default
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5m
      retries: 20

  webapp:
    build:
      context: .
      dockerfile: dev.dockerfile
    container_name: cmfive
    hostname: nginx-php8.1
    environment:
      TZ: Australia/Sydney
      DB_HOST: mysqldb
      DB_DATABASE: cmfive
      DB_USERNAME: cmfive
      DB_PASSWORD: cmfive
      DB_PORT: 3306
      ENVIRONMENT: development
      CUSTOM_CONFIG: |
        Config::set('tests', ['testrunner' => 'ENABLED']);
    volumes:
      - ./:/var/www/html:rw
    ports:
      - "3000:80"
      - "3443:443"
    networks:
      - default
    restart: unless-stopped
    working_dir: /var/www/html
    links:
      - mysqldb
    depends_on:
      mysqldb:
        condition: service_healthy
    extra_hosts:
      - "host.docker.internal:host-gateway"

  compiler:
    image: node:20-alpine
    container_name: node-compiler
    volumes:
      - ./:/var/www/html
      - ./.codepipeline/docker/compiler.sh:/compiler.sh
    command: "ash -c /compiler.sh"
    healthcheck:
      test: 
        - "CMD-SHELL"
        - "ps aux | grep 'npm run watch' | grep -v grep"
        - "test -f /var/www/html/system/templates/base/dist/app.css"
      interval: 15s
      timeout: 5m
      retries: 20
    restart: unless-stopped
    user: "1000:1000"
    depends_on:
      webapp:
        condition: service_healthy

volumes:
  dbdata:
    driver: local

networks:
  default:
