<?php

return [
    'outputExt' => 'sql',

    'commandPath' => [
        'unix' => '/usr/bin/',
        'windows' => '"C:\\Program Files\\MySQL\\MySQL Server 5.6\\bin\\'
    ],
    'backupCommand' => [
        'unix' => 'mysqldump -u $username -h $hostname -P $port -p\'$password\' $dbname > $filename',
        'windows' => 'mysqldump.exe" -u$username -p$password  $dbname > $filename'
    ],
    'restoreCommand' => [
        'unix' => 'mysql -u $username -h $hostname -P $port -p\'$password\' $dbname < $filename',
        'windows' => 'mysql.exe" -D$dbname -u$username -p$password < $filename'
    ],
];
