name: CI

on: pull_request

jobs:
    # WAS: michaelw90/PHP-Lint@master, stuck on docker PHP7.3!
    # WORKS for: StephaneBour/actions-php-lint@8.1 = simply "php -l"
    phplint:
        name: PHP Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: overtrue/phplint@9.1.2
    php-codesniffer74:
        name: PHP CS 7.4
        runs-on: ubuntu-latest
        steps:
            - name: Codesniffer
              uses: pipeline-components/php-codesniffer@v0.34.0
              with:
                  options: -s -p --colors --extensions=php --runtime-set testVersion 7.4
    php-codesniffer80:
        name: PHP CS 8.0
        runs-on: ubuntu-latest
        steps:
            - name: Codesniffer
              uses: pipeline-components/php-codesniffer@v0.34.0
              with:
                  options: -s -p --colors --extensions=php --runtime-set testVersion 8.0
    php-codesniffer81:
        name: PHP CS 8.1
        runs-on: ubuntu-latest
        steps:
            - name: Codesniffer
              uses: pipeline-components/php-codesniffer@v0.34.0
              with:
                  options: -s -p --colors --extensions=php --runtime-set testVersion 8.1
